# food_image는 따로 관리를 하도록 합니다.
/data/food_image
/raw_data

# run 디렉토리
/runs

# pycache
__pycache__/
*.pyc
models/__pycache__/
utils/loggers/
*.pyo
*.pyd
*.gz
*.pt

/food_data
yolov5m.pt
yolov5s.pt
yolov5x.pt

result
